@mixin fontLight() { font-family: 'Poppins', sans-serif; font-weight: 300; }
@mixin fontRegular() { font-family: 'Poppins', sans-serif; font-weight: 400; }
@mixin fontSemibold() { font-family: 'Poppins', sans-serif; font-weight: 600; }
@mixin fontBold() { font-family: 'Poppins', sans-serif; font-weight: 700; }

@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;flex-direction: $direction;
  align-items: $align;justify-content: $justify;
}

@mixin maxscreen(){
  max-width: 1366px;
  margin: 0 auto;
}

@mixin boxshadow(){
  box-shadow: 0 0 10px transparentize($color: #15120D, $amount: 0.9);
}

@mixin overlay(){
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--color0RGBA), 0.4);
  z-index: 5;
}