@import "~normalize.css";

:root{
    --color0: #2B96D6;
    --color1: #FEC61F;
    --color2: #103044;
    --color3: #15120D;
    --color4: #F1ECEC;
    --color5: #FDFCFC;
    --color6: #676767;

    --colorDisabled: #BCC0BC;

    --nuance0: #ffcbf2;
    --nuance1: #deaaff;
    --nuance2: #c8e7ff;

    --nuanceColor4: #f9c0c0;
    --nuanceColor5: #f6d6ad;
    --nuanceColor6: #fafcc2;

    --colorFond: #F9F9F9;
    --alpha: #fff;
    --beta: #000;

    --primary:#5b3cc4;
    --primary-bg: #9ff0ff;
    --success: rgb(23, 201, 100);
    --success-bg: #83ffc5;
    --danger: rgb(242, 19, 93);
    --danger-bg: #ffb9b9;
    --warning: rgb(255, 130, 0);
    --dark: rgb(36, 33, 69);

    --betaRGBA: 0,0,0;
    --primaryRGBA: 91,60,196;
    --warningRGBA: 255, 130, 0;
    --dangerRGBA: 245, 147, 180;
    --successRGBA: 23, 201, 100;

    --color0RGBA: 26, 83, 92;
    --color1RGBA: 78, 205, 196;

    --colorBorder: #bcc0bc75;
}

// .dark-mode {
//     --color0: blue;
// }

@import "vars/fonts.scss";
@import "vars/vars.scss";

@import "components/cookies.scss";
@import "components/loader.scss";
@import "components/menu.scss";
@import "components/footer.scss";
@import "components/alert.scss";
@import "components/button.scss";
@import "components/form.scss";

body {
    background-color: var(--colorFond);
    @include fontRegular();
    line-height: 1.37;
}

h1, h2, h3, h4, p{
    margin: 0;
}

a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

main{
    @include maxscreen();
    padding: 50px 0;
}