{% extends 'themes/default/components/email/template.html.twig' %}

{% block preheader %}Votre mot de passe n'a pas changé depuis très longtemps sur notre site {{ settings.websiteName }}.{% endblock %}

{% block title %}Renouvellement de mot de passe{% endblock %}

{% block body %}
    <div>
        <p>Bonjour, <br>
            <br>
            Votre identifiant de connexion est  : <b>{{ user.username }}</b>
            <br><br>
            Conformément aux recommandation de la CNIL (Commission nationale de l'informatique et des libertés) et du RGPD, nous vous recommandons de
            modifier votre mot de passe. En effet, cela fait 5 ans que vous n'avez pas changer de mot de passe.
        </p>
        <p style="width: 540px;">
            <a href="{{ url }}">Lien pour modifier son mot de passe</a>
            <br>
            <br>
            <br>
            <br>
            Si ce lien ne fonctionne pas, vous pouvez saisir manuellement ou copier/coller le lien suivant dans la barre d'adresse de votre navigateur :
            <br>
            {{ url }}
        </p>
        <br>
        <p>
            Nous vous souhaitons une agréable visite sur <a href="#">notre site</a>.
        </p>
    </div>
{% endblock %}
