@import "../../../vars/vars.scss";

.agenda-table-header{
    @include flex(row, center, flex-start);
    padding-bottom: 36px;

    .agenda-item{
        @include flex(column, center, center);
        width: 14%;
        opacity: 0.6;

        .label{
            font-size: 14px;
            margin-bottom: 4px;
        }
        .label-desktop{
            display: none;
        }
        .number{
            @include fontSemibold();
        }
        
        &.active{
            color: var(--color3);
        }
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .agenda-table-header{
        margin-left: 52px;
        width: calc(100% - 52px - 24px);
    }
}